# Location Extraction and Spacy Word Vectorization

In [1]:
import pandas as pd
import re
import spacy
import string

In [6]:
# Read in csv with Tweets
twitter_closures = pd.read_csv("../data/Cleaned_Tweets/cleaned_historic_07242019.csv")

twitter_closures = twitter_closures[['text', 'type']]

# Print DF shape
print(twitter_closures.shape)

# Show head 
twitter_closures.head()

(20550, 2)

                                                text      type
0   Northbound at exit is shutdown to this accident   official
1  Just your ty al halftime score here at Marvin ...  official
2  Hey stop me if you heard this but Marvin Ridge...  official
3  No worries Concord scored in like a min Still ...  official
4  Whoever wins this Concord Marvin Ridge game wi...  official

## SpaCy Preprocessing

In [8]:
# Create new columns to transfer modified tweet text. Five versions of tweets will be created.
twitter_closures['modified_text_A'] = ''
twitter_closures['modified_text_B'] = ''
twitter_closures['modified_text_C'] = ''
twitter_closures['modified_text_D'] = ''
twitter_closures['modified_text_E'] = ''

# Show modified DF
twitter_closures.head(2)

,text,type,modified_text_A,modified_text_B,modified_text_C,modified_text_D,modified_text_E
0,Northbound at exit is shutdown to this accident,official,,,,,
1,Just your ty al halftime score here at Marvin ...,official,,,,,

In [12]:
loc_dict = {"Hwy": "Highway ",
           "CR ": "Country Road ",
           "I-": "Interstate ",
           "EB ": "Eastbound ",
           "WB ": "Westbound ",
           "SB ": "Southbound",
            "NB ": "Northbound"}

In [15]:
def spacy_cleaner(df, col, word_dict):
    return df[col].replace(word_dict, regex=True)

In [23]:
twitter_closures['modified_text_A'] = spacy_cleaner(twitter_closures, 'text', loc_dict)

twitter_closures['text'][0]

' Northbound at exit is shutdown to this accident '